<template>
  <div id="app">
    <div class="login-page">
      <transition name="fade">
        <div class="wallpaper-login"></div>
      </transition>
      <div class="wallpaper-register"></div>

      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-8 mx-auto">
            <div>
              <!-- <h1>Sign In</h1> -->
              <form class="form-group">
                <input
                  v-model="user"
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  required
                />
                <input
                  v-model="pass"
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  required
                />
                <input type="submit" class="btn btn-primary" @click="submit" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Login",

  data: () => ({
    user: "",
    pass: "",
    users: [],
  }),

  // mounted() {
  //   axios.get("../data/users.json").then((response) => {
  //     this.users = response.data;
  //     console.log(this.users);
  //   });
  // },

  async created() {
    try {
      const res = await axios.get(`../data/users.json`);
      this.users = res.data;
      console.log(this.users.length);
    } catch (e) {
      console.error(e);
    }
  },

  methods: {
    submit() {
      if (
        (this.user === this.users[0].username &&
          this.pass === this.users[0].password) ||
        (this.user === this.users[1].username &&
          this.pass === this.users[1].password) ||
        (this.user === this.users[2].username &&
          this.pass === this.users[2].password)
      ) {
        alert("Successful");
        this.$router.push('main')
        console.log('The id is: ' + this.$route.params.users[0].id);
        
      } else {
        alert("Wrong Username Or Password");
      }
    },
  },
};
</script>

<style>
/* @import '../assets/Login.scss'; */
</style>