<template>
  <v-tabs
    fixed-tabs
    background-color="orange"
    dark
    style="position: fixed; z-index: 11"
  >
    <v-tab>
      <select v-model="selected">
        <option disabled value="">Please select one</option>
        <option v-for="item in options" v-bind:key="item.value">{{ item.value }}</option>
      </select>
    </v-tab>

    <v-tab>
      <div >{{ selected }}</div>
    </v-tab>

    <v-tab>
      <v-badge color="black" :content="carts.length > 0 ? carts.length : '0'">
        <v-icon dark> mdi-cart </v-icon>
      </v-badge>
    </v-tab>
  </v-tabs>
</template>

<script>

export default {
  name: "Header",
  props: ["carts", "select"],

  data() {
    return {
      selected: '',
      options: [
      { text: 'One', value: 'Standard' },
      { text: 'Two', value: 'Associate' },
      { text: 'Three', value: 'Diamond' }
    ],

    };
  },
};
</script>

<style scoped>
</style>